.container {
    width: 370px;
    height: 300px;
    overflow: hidden;
    margin: 20px;
    transition: 0.5s ease all;
}

.container:hover {
    transform: scale(1.3);
}


.container:hover .info{
    position:absolute;
    top: 20px;
    left: 40px;
    margin-bottom: 50px;
    background: rgba(0, 0, 0, 0.5 );
}

.container:hover .info .name {
    color: #fff;
}
.container:hover .info .weight {
    color: #fff;
}
.container:hover .info .temperament {
    color: #fff;
}


.nav {
    text-decoration: none;
}


.img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    margin: 10px 20px;
    border-top: 7px solid #fff;
    border-left: 7px solid #fff;
    transition: 0.5s ease all;
}


.info {
    width: 280px;
    height: 150px;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 40px 20px;
    background: transparent;
    border-radius: 10px;
    color: transparent;
    cursor: pointer;
}

.name {
    color: transparent;
    margin: 10px;
    font-size: x-large;
}

.weight {
    color: transparent;
    font-size: medium;
    margin: 8px 5px;
}
.temperament {
    color: transparent;
    font-size: x-small;
    margin: 8px 5px;
}
